.blue {
  border-color: blue;
}
.red {
  border-color: red;
}
.black {
  border-color: black;
}
.white {
  border-color: white;
}
.gray {
  border-color: gray;
}
.yellow {
  border-color: yellow;
}
.green {
  border-color: green;
}
